<p id="notice"><%= notice %></p>

<h1 style="color:yellow">Estrellas</h1>

<table>
  <thead>
    <tr>
      <th style="color:yellow">Nombre</th>
      <th style="color:yellow">Tamaño</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estrellas.each do |estrella| %>
      <tr>
        <td style="color:yellow"><%= estrella.nombre %></td>
        <td style="color:yellow"><%= estrella.tamaño %></td>
        <td><%= link_to 'Show', estrella %></td>
        <td><%= link_to 'Edit', edit_estrella_path(estrella) %></td>
        <td><%= link_to 'Destroy', estrella, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estrella', new_estrella_path %>


<link rel="stylesheet" type="text/css" href= "CSS.css"> 
<link href="css/style.css" rel="stylesheet">
<style type="text/css">
body
{
background-image: url(http://madridfree.org/wp-content/uploads/2012/12/estrellas.jpg);
background-size: 100%;
background-repeat: no-repeat;
}

</style>
